@import "tailwindcss";

@layer utilities {
  .nav__links {
    position: relative;
    font-size: 1rem; /* text-base */
    font-weight: 500; /* font-medium */
    width: fit-content;
    display: block;
  }
  .nav__links::after {
    display: block;
    content: "";
    position: absolute;
    height: 3px;
    background-color: #3b82f6; /* bg-blue-500 */
    width: 100%;
    transform: scaleX(0);
    transition: transform 300ms;
    transform-origin: right;
  }
  .nav__links:hover::after {
    transform: scaleX(1);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeDown {
  animation: fadeDown 0.5s ease forwards;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* smooth fade up */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.8s ease forwards;
}

/* stagger delay classes */
.delay-1 {
  animation-delay: 0.15s;
}
.delay-2 {
  animation-delay: 0.3s;
}
.delay-3 {
  animation-delay: 0.45s;
}
.delay-4 {
  animation-delay: 0.6s;
}
.delay-5 {
  animation-delay: 0.75s;
}
